.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 240px;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 32px);
}

.login-page__content {}

.login-error {
  color: red;
}

.login-form input,
.login-form button {
  padding: 4px 8px;
}

.variant-30 button {
  border-radius: 9999px;
}
